{% load static %}
<li class="comment">
    
    <div class="vcard bio">
        <img src="{{ comment.photo.url }}" alt="Image placeholder">
    </div>

    <div class="comment-body">
        <h3>{{ comment.author }}</h3>
        <div class="meta">{{ comment.created_at|date:"F d, Y @ P" }}</div>
        <p>{{ comment.content }}</p>
        <p><a href="#" class="reply" data-comment-id="{{ comment.id }}">Reply</a></p>
    </div>

    {% if comment.replies %}
        <ul class="children">
            {% for reply in comment.replies.all %}
                {% include 'monapp/comment.html' with comment=reply %}
            {% endfor %}
        </ul>
    {% endif %}

</li>
